article {
  border: 1px solid $innerBorderColor;
  width: 300px;
  padding: 10px;

  &:hover {
    background: white;
  }
}

.check {
    display: inline;
    margin-left: 5px;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: $backgroundColor;

    &:checked {
      background: red;
    }

}

.text {
    display: inline;
    color: $lightTextColor;
    margin-left: 15px;
    font-family: $primaryFont;

}

.delete {
    display: inline;
    color: $deleteColor;
    margin-left: 200px;
    display: none;
}

.btnCheck {
  background: $completedColor;
}

.checked {
   text-decoration: line-through;
   color: $lightTextColor;
}
